<div class="container" *ngIf="isPageReady">

  <form #f="ngForm" (ngSubmit)="addArticle(f)">
    <div class="columns is-multiline">

      <div class="column is-one-third">
        <mat-card>
          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale Başlığı" ngModel name="title" required>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale Alt Başlığı" ngModel name="sub_title" required>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale uzantısı" ngModel name="slug" required>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Anahtar Kelimeler virgül işareti ile ayrılır" ngModel name="keywords"
                required>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-select placeholder="Dil" name="language_id" ngModel required>
              <mat-option *ngFor="let language of languages" [value]="language.id">
                {{ language.name }}
              </mat-option>
            </mat-select>
          </div>

          <div class="field">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <span>Yayınlanma</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <mat-checkbox ngModel name="published"></mat-checkbox>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="field">
            <p class="title is-size-4 has-text-weight-light">Kategoriler</p>
          </div>

          <div class="field" *ngFor="let category of categories">
            <mat-checkbox [(ngModel)]="category.exist" [name]="category.slug">{{category.name}}</mat-checkbox>
          </div>

        </mat-card>
      </div>

      <div class="column is-two-thirds">
        <mat-card>
          <div class="level">
            <div class="level-left">
              <input type="hidden" name="image" [ngModel]="imageName" required>
              <button mat-raised-button type="button" (click)="openImageSelect()">Fotoğraf Seç</button>
            </div>
            <div class="level-right">
              <img src="" id="img">
            </div>
          </div>
          <textarea ngModel name="body" id="tinymce-textarea" #tiny></textarea>
        </mat-card>
      </div>

      <button mat-fab class="add-btn" type="submit" [disabled]="!f.valid">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </form>
</div>