<div class="section" *ngIf="isPageReady">
  <form #f="ngForm" (ngSubmit)="addArticle(f)">
    <div class="columns is-multiline">

      <div class="column is-two-thirds">
        <mat-card>
          <textarea ngModel name="body" id="tinymce-textarea" #tiny></textarea>
        </mat-card>
      </div>

      <div class="column is-one-third">
        <mat-card>
          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale Başlığı" ngModel name="title">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale Alt Başlığı" ngModel name="sub_title">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <input matInput placeholder="Makale uzantısı" ngModel name="slug">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let keyword of keywords" [removable]="1 === 1" (removed)="removeKeyword(keyword)">
                  {{keyword}}
                  <span matChipRemove>
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </span>
                </mat-chip>
                <input placeholder="Anahtar Kelimeler" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addKeyword($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-select placeholder="Dil" name="language_id" ngModel>
              <mat-option *ngFor="let language of languages" [value]="language.id">
                {{ language.name }}
              </mat-option>
            </mat-select>
          </div>

          <div class="field">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <span>Yayınlanma</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <mat-checkbox ngModel name="published"></mat-checkbox>
                </div>
              </div>
            </div>

            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <span>Forumda Yayınla</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <mat-checkbox ngModel name="forum_published" [disabled]="!f.value.published"></mat-checkbox>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <button mat-raised-button type="button" (click)="openImageSelect()">Fotoğraf Seç</button>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <img src="" id="img">
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <p class="title is-size-4 has-text-weight-light">Kategoriler</p>
            <hr>
          </div>
          
          <div class="field" *ngFor="let category of categories">
            <mat-checkbox [(ngModel)]="category.exist" [name]="category.slug">{{category.name}}</mat-checkbox>
          </div>

          <div class="has-text-centered">
            <button mat-fab class="add-btn" type="submit" [disabled]="!f.valid">
              <i class="fa fa-plus is-size-4" aria-hidden="true"></i>
            </button>
          </div>

        </mat-card>
      </div>
    </div>
  </form>
</div>