<div class="" *ngIf="isPageReady">

  <div mat-dialog-title>
    <h3 class="header-text">Makale Özellikleri</h3>
  </div>

  <mat-dialog-content>
    <form class="column" #f="ngForm" (ngSubmit)="updatePermission()">
      <aside class="menu">
        <ul class="menu-list">
          <li *ngFor="let user of users">
            <mat-checkbox [(ngModel)]="user.permission" [name]="user.user_id">{{user.name}}</mat-checkbox>
          </li>
        </ul>
      </aside>
      <button type="submit" #hide style="display: none"></button>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close>İptal</button>

    <button mat-raised-button (click)="hide.click()">Kaydet</button>

  </mat-dialog-actions>

</div>