<mat-spinner *ngIf="!isPageReady" class="loading"></mat-spinner>

<div class="container" *ngIf="isPageReady">

  <!-- <div class="columns">
    <a routerLink="trash">
      <button mat-button>Çöplük</button>
    </a>
  </div> -->

  <mat-card>
    <button mat-raised-button [routerLink]="['/articles/trash']">
      <mat-icon>delete</mat-icon>Çöp Kutusu
    </button>
  </mat-card>

  <section class="articles">
    <mat-card>

      <div class="title">
        <h1 class="is-size-3">Makaleler</h1>
      </div>
      <hr>
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td>Başlık</td>
            <td>Okunma</td>
            <td>Oluşturulma Tarihi</td>
            <td>Diller</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles.data">
            <td>
              <a
                [routerLink]="['/article/edit', article.slug]">{{article.contents.length > 0 ? article.contents[0].title : 'NULL'}}</a>
            </td>
            <td>{{article.views}}</td>
            <td>{{article.created_at | date}}</td>
            <td>
              <a class="article-content-list" *ngFor="let content of article.contents"
                [routerLink]="['/article/content/edit', article.slug, content.language.slug]">
                <span class="tag is-rounded"
                  [ngClass]="{'is-primary': content.published, 'is-danger': !content.published}">{{content.language.name}}</span>
              </a>
              <a class="article-content-list" [routerLink]="['/article/content/add', article.slug]"
                *ngIf="article.contents.length < languages.length">
                <button mat-mini-fab style="margin-left: 7px">
                  <mat-icon>add</mat-icon>
                </button>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <mat-paginator [length]="articles.total" [pageSize]="articles.per_page"
            [pageSizeOptions]="service.pageSizeOptions" [pageIndex]="articles.current_page - 1"
            (page)="service.changePageOptions(helpersService, $event)">
          </mat-paginator>
        </tfoot>
      </table>
    </mat-card>

  </section>

  <button mat-fab class="add-btn" [routerLink]="['/article/add']">
    <mat-icon>add</mat-icon>
  </button>

</div>