<div class="section" *ngIf="isPageReady">

  <div class="header">
    <h1 class="title has-text-centered has-text-white">{{article.content.title}} / {{language.name}}</h1>
  </div>

  <form #f="ngForm" (ngSubmit)="editArticle(f)">
    <div class="columns">
      <div class="column is-one-third">

        <div class="">
          <mat-form-field>
            <input matInput placeholder="Makale Başlığı" [ngModel]="article.content.title" name="title">
          </mat-form-field>
        </div>

        <div class="">
          <mat-form-field>
            <input matInput placeholder="Makale Alt Başlığı" [ngModel]="article.content.sub_title" name="sub_title">
          </mat-form-field>
        </div>

        <div class="">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let keyword of article.content.keywords" (remove)="removeKeyword(keyword)">
                {{keyword}}
                <span matChipRemove>x</span>
              </mat-chip>
              <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addKeyword($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div class="">
          <mat-select placeholder="Dil" name="language" [ngModel]="article.content.language_id" disabled>
            <mat-option [value]="language.id">
              {{ language.name }}
            </mat-option>
          </mat-select>
        </div>

        <div class="">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <span>Yayınlanma</span>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <mat-checkbox [(ngModel)]="article.content.published" name="published"></mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        
        <div class="has-text-centered">
          <button mat-raised-button type="submit" [disabled]="!f.valid">Kaydet</button>
        </div>
      </div>
      <div class="column">
        <div class="">
          <textarea ngModel name="body" id="tinymce-textarea" #tiny></textarea>
        </div>
      </div>
    </div>
  </form>
</div>